<nav class="navbar">
    <div class="navbar-left">
        <div class="navbar-logo">
            <a href="https://www.eniac.edu.br">
                <img src="/images/navbar/#" alt="Logo LOJA">
            </a>
        </div>
        <!-- hamburguer -->
        <button class="menu-toggle" aria-label="Abrir menu">
            <img src="/images/navbar/list.svg" alt="Abrir menu">
        </button>
    </div>

    <ul class="navbar-links">
        <li><a href="#">Camisetas</a></li>
        <li><a href="#">Shorts</a></li>
        <li><a href="#">Calças</a></li>
        <li><a href="#">Conjuntos</a></li>
        <li><a href="#">Sneakers</a></li>
        <li><a href="#">Sobreposição</a></li>
    </ul>
</nav>